@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  font-family: 'Jersey 15', sans-serif;
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

body {
  font-size: 24px;
  color: white;
  background-color: #06402b;
}

p {
  font-size: 20px;
  color: white;
}

.basic-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.basic-button:hover {
  background-color: white;
  color: #06402b;
  border: 2px solid #06402b;
  transform: scale(1.025);
}

.basic-button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.text-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  
}

.text-button:hover {
  text-decoration: underline;
}


